/* Font embed */
@font-face {
    font-family: 'Merriweather Sans';
    src: url('/fonts/merriweathersans-bold-webfont.eot');
    src: url('/fonts/merriweathersans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/merriweathersans-bold-webfont.svg#merriweather_sansbold') format('svg'),
    url('/fonts/merriweathersans-bold-webfont.woff') format('woff'),
    url('/fonts/merriweathersans-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather Sans';
    src: url('/fonts/merriweathersans-regular-webfont.eot');
    src: url('/fonts/merriweathersans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/merriweathersans-regular-webfont.svg#merriweather_sansregular') format('svg'),
    url('/fonts/merriweathersans-regular-webfont.woff') format('woff'),
    url('/fonts/merriweathersans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather Sans';
    src: url('/fonts/merriweathersans-italic-webfont.eot');
    src: url('/fonts/merriweathersans-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/merriweathersans-italic-webfont.svg#merriweather_sansitalic') format('svg'),
    url('/fonts/merriweathersans-italic-webfont.woff') format('woff'),
    url('/fonts/merriweathersans-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Merriweather Sans';
    src: url('/fonts/merriweathersans-light-webfont.eot');
    src: url('/fonts/merriweathersans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/merriweathersans-light-webfont.svg#merriweather_sanslight') format('svg'),
    url('/fonts/merriweathersans-light-webfont.woff') format('woff'),
    url('/fonts/merriweathersans-light-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}